/* Default Resets */

body, h1, h2 {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
a {
  text-decoration: none;
  color: unset;
}

/* Specifics */
.full-body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    background-color: #E8C69A;
    padding: 20px 20px 10px 20px;
    margin-bottom: 30px;
}
.title {
  font-size: 60px;
  color: #676E60;
}
.subtitle{
  color: white;
  font-size: 20px;
  font-style: italic;
}
.fas {
  color: #DF8C71;
}
.pos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 1;
}
.items {
    border: 1px solid black;
    font-size: 30px;
    width: 85%;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    text-shadow: 1px 1px 1px black;
}
.backgrounds {
  background-image: url(./assets/FreshHues1_150-768x843.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}
.extensions{
  background-image: url(./assets/FreshHues1_150-768x843.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -70px;
  border: none;
}
.products {
  background-image: url(./assets/FreshHues1_150-768x843.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -140px;
  border: none;
}
.merch {
  background-image: url(./assets/FreshHues1_150-768x843.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -210px;
  border: none;
}
.button {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
}
.cart {
  font-size: 20px;
  color: rgb(56, 56, 56);
}
.cart-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 21; 
}
.last {
  background-color: #676E60;
  color: white;
  border: none;
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 15px;
}
.about{
  font-size: 20px;
  color: rgb(56, 56, 56);
}
.mpop {
  display: none;
}
.epop {
  display: none;
}
.bpop{
  display: none;
}
.ppop {
  display: none;
}
.popup-container {
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}
.item-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: white;
  width: 100vw;
  height: 100vh;
  color: #676E60;
}
.side-by-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.image {
 width: 150px;
 height: 150px;
 object-fit: cover;
 margin: 7px;
}
.exit {
  font-size: 20px;
  position: fixed;
  right: 40px;
}
.info {
  color: #676E60;
  text-align: center;
}
.column-style {
   display: flex;
   flex-direction: column;
   /* width: 83vw; */
   height: 70vh;
   padding: auto;
 }
 .cartItems{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px 10px 0 10px;
  width: 55%;
 }
.payment-method {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 10px;
}
.cexit {
  position: fixed;
  top: 20px;
  right: 20px;
}
 .cash-form {
  display: none;
  justify-content: center;
   align-items: flex-start;
   width: 90%;
   flex-wrap: wrap;
   flex-direction: column;
 }

 .credit-form {
   display: none;
   justify-content: center;
    align-items: flex-start;
    width: 90%;
    flex-wrap: wrap;
    flex-direction: column;
 }
 .total_subtotal {
  position: fixed;
  bottom: 10px;
  left: 10px;
 }
.item-title {
   font-size: 20px;
   margin: 3px;
}
.rpop {
  background-color: rgb(0, 0, 0);
  position: absolute;
  display: none;
  height: 100%;
  width: 90vw;
  z-index: 20;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 30px;
}
.receiptTitle{
  position: fixed;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
}
.receiptItems{
  display: flex;
  position: relative;
  top: 25px;
  left: 10px;
  justify-content: space-between;
}
.product-info {
   font-size: 15px;
   margin: 1px;
}
.credit-paid{
  position: fixed;
    bottom: .5px;
    margin-bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
}
.subtotal{
  margin-top: 1px;
    margin-bottom: 1px;
}
.tax{
  margin-top: 1px;
    margin-bottom: 1px;
}
.total{
  margin-top: 1px;
}
.r-subtotal{
  margin-top: 1px;
    margin-bottom: 1px;
}
.r-tax{
  margin-top: 1px;
    margin-bottom: 1px;
}
.r-total{
  margin-top: 1px;
    margin-bottom: 1px;
}
.receipt-button {
  background-color: #DF8C71;
  color: white;
  border: none;
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 15px;
}
.amount-taken{
  margin-top: 1px;
    margin-bottom: 1px;
}
.change{
  margin-top: 1px;
}

@media only screen and (min-width:768px) {
    body {
        background-color: #f8f8f8;
    }
    .full-body {
        flex-direction: row;
    }
    .header {
        flex: 1;
        height: 100vh;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-around;

    }
    .head {
        padding-top: 10px;
    }
    .title {
        padding-top: 50px;
        font-size: 80px;
    }
    .subtitle {
        font-size: 35px;
    }
    .pos {
        flex: 1;
        max-width: 50vw;
        height: 100vh;
        justify-content: center;
        padding: auto;
    }
    .column-style{
      padding: 30px;
    }
    .receipt{
      width: 100vw;
      margin-right: 20px;
    }
   .side-by-side{
     justify-content: space-evenly;
     align-items: center;
     margin: auto;
     margin-left: 25%;
   }
   .info {
    color: #676E60;
    text-align: center;
   }
    .cart {
        margin-right: 10vw;
        margin-left: 40px;
    }
    .cartItems {
      width: 35%;
    }
    .items {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 44px;
        min-width: 40vw;
    }
    .extensions {
      background-position: 0px -80px;
    }
    .products {
      background-position: 0;
    }
    .merch {
      background-position: 0px -80px;
    }
    .exit {
      font-size: 20px;
      position: fixed;
      margin-top:1px;
    }
}

